<div id="<%= dom_id transaction_order %>">
  <p>
    <strong>Transaction  date:</strong>
    <%= transaction_order.transaction__date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= transaction_order.total_amount %>
  </p>

  <p>
    <strong>Total quantity:</strong>
    <%= transaction_order.total_quantity %>
  </p>

</div>
